<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="common.utils.listeners.TestListener"/>
        <listener class-name="common.utils.listeners.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Workspace/SeleniumGradle">
        <parameter name="browser" value="chrome">
            <classes>

                <class name="testcases.LoginTest">
                    <methods>
                        <include name="TC01"/>
                        <include name="TC02"/>
                        <include name="TC03"/>
                        <include name="TC05"/>
                    </methods>
                </class>
            </classes>
        </parameter>
    </test>
</suite>